<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Yuchen Wu
              </h1>
              <p style="text-align:center">
                cheney[dot]wu[at]mail[dot]utoronto[dot]ca
              </p>
              <p>Hello! I am an undergraduate student at the <a href="https://www.utoronto.ca/">University of Toronto</a> majoring in <a href="https://engsci.utoronto.ca/">Engineering Science</a> (Robotics) where I am fortunate to be supervised by <a href="http://www.cs.toronto.edu/~florian/">Prof. Florian Shkurti</a> and <a href="http://stars.utias.utoronto.ca/~jkelly/">Prof. Jonathan Kelly</a>. I am deeply interested in machine learning and robotics, and my research focuses on developing learning algorithms for robot vision, planning, and control. More specifically, I am willing to develop methods that enable robots to learn a set of composable and generalizable skills, which can be used to carrying out complicated and possibly unseen tasks. I also want to find ways that allow robots to coordinate with each other easily and efficiently and interact with humans in a shared workspace safely and reliably.
              </p>
              <p>Last summer, I worked with Prof. Florian Shkurti on combining imitation learning and reinforcement learning for robotic control. Before that, I was an software engineer intern at Intel PSG where I participated in the development of the <a href="https://www.intel.ca/content/www/ca/en/software/programmable/quartus-prime/hls-compiler.html">Intel HLS Compiler for FPGA</a> and <a href="https://software.intel.com/en-us/opencl-sdk">Intel SDK for OpenCL Applications</a>.</p>
              <p>If you have any questions/want to talk/want to collaborate, feel free to send me an email!
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/3OgUy"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/cheneyuwu">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/yuchen-wu-a9838a14a"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="/pdfs/ResumeYW.pdf"> Resume </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_pic.png">
            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <p>
              </p>
            </td>
          </tr>
        </table>

        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                Below is a list of my past research projects.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              {{ post.content }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Course Projects</h2>
              <p>Below is a list of my course projects during my undergraduate study at UofT Engineering Science.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Course' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              {{ post.content }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">
                Website design based on <a style="font-size:small;" href="https://jonbarron.info">this</a>. Love his design!
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>

